    <nav class="container">
        <ul>
            <li>From: <a href="https://github.com/smnandre/ux-reproducer">UX Reproducer Template</a></li>
            <li>By: <a href="https://github.com/smnandre" rel="author">@smnandre</a></li>
            <li>License: <a href="https://github.com/smnandre/ux-reproducer/LICENSE">MIT</a></li>
        </ul>
        <ul>
            <li><a href="https://github.com/sponsors/smnandre" data-tooltip="Like it?"><span>&hearts;</span></a></li>
        </ul>
    </nav>
