
<hgroup style="flex-direction: column-reverse; display: flex;">
    <h1>Issue</h1>
    <p>Welcome!</p>
</hgroup>

<hr />

<section>
    <article>
        <header>
            <h2>Reproduce the issue</h2>
        </header>
        
        <h3>Symfony MakerBundle</h3>
        <div class="code">
            <pre class=""><code>/templates/index.html.twig</code></pre>
        </div>
        
    </article>
</section>

<section class="grid">
    <article>
        <header>
            <h2>Examples</h2>
        </header>
        {# TODO #}
    </article>
    <article>
        <header>
            <h2>Issue Checklist</h2>
        </header>
        {# TODO #}
    </article>
</section>
